body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Tutta l'altezza dello schermo */
}



.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}